<div>
  <h1>David's Astro Website</h1>
  <a href="/"><span>Go back home</span></a>
</div>

<style>
  h1 {
    color: turquoise;
  }

  span {
    color: white;
  }

  div {
    margin-bottom: 10px;
  }
</style>
